<div class="container-fluid position_fixed">
  <div class="row">
    <div class="col-md-2">
    </div>
  <!-- Displays total beer # purchases (count) -->
    <div class="col-md-3">
      <div class="stats_box">
        <h2 class="stats_title">Number of beers purchased (since time?)</h2>
        <h3 class="stats_value"><%= @users.sum(:beer_count) %></h3>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  <!-- Displays total beer purchases ($) -->
    <div class="col-md-3">
      <div class="stats_box">
        <h2 class="stats_title">Total revenue (since time?)</h2>
        <h3 class="stats_value"><%= @users.sum(:beer_count) * 2.50 %></h3>
      </div>
    </div>
    <div class="col-md-2">
    </div>    
  </div>
</div>

<div class="container-fluid position_fixed">
  <div class="row">
    <div class="col-md-4">
    </div>
  <!-- Displays inventory status & total inventory -->
    <div class="col-md-4">
    <!-- #erb# if inventory okay: -->
      <div class="inventory okay">
        <h2 class="inventory_title">Your inventory is okay </h2>
        <h3 class="inventory_title"> Beers remaining: </h3>
        <h4 class="inventory_value">#erb#</h4>
      </div>
      <!-- else inventory low: -->
      <div class="inventory low">
        <h2 class="inventory_title">Restock!</h2>
        <h3 class="inventory_title"> Beers remaining: </h3>
        <h4 class="inventory_value">#erb#</h4>
      </div>
      <!-- #erb# end -->
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<!-- User stats table: Consumer name, # beers bought, $spent -->
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <table class="table table-striped table-hover">
        <tr>
          <th>User</th>
          <th>Beers bought</th>
          <th>$$ spent</th>
        </tr>
        <!-- #erb# for each user do-->
        <tr>
          <td>#erb#</td>
          <td>#erb#</td> 
          <td>#erb#</td>
        </tr>
        <!-- #erb# end -->
      </table>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>





