<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
  <!-- Displays total beer # purchases (count) -->
    <div class="col-md-3 stats_box">
      <h1>Number of beers purchased (since time?)</h1>
      <h2>Insert erb code (beer_count total)</h2>
    </div>
    <div class="col-md-2">
    </div>
  <!-- Displays total beer purchases ($) -->
    <div class="col-md-3 stats_box">
      <h1>Total revenue (since time?)</h1>
      <h2>Insert erb code (beer_count total * beer cost)</h2>
    </div>
    <div class="col-md-2">
    </div>    
  </div>
</div>