/* General styling */

/* #f0bb3b */
@font-face {
  font-family: Intrique; 
  src: url('../fonts/Intrique.ttf');
}

.stats_box {
  height: 100%;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
}

.stats_title {
  font-family: Helvetica;
  font-size: 1.75em;
  font-weight: 500;
}

.stats_value {
  font-family: Helvetica;
  font-size: 3em;
  font-weight: 900;
}

.position_fixed {
  position: static;
}

.float_right {
  float: right;
}


/* Navbars */
.navbar_transparent {
  background-color: transparent;
  border-color: transparent;
}

.logo_box {
  margin-top: -5px;
  padding-bottom: 10px;
}

.logo_link {
  font-family: Intrique;
  font-size: 70px;
  font-weight 900;
  color: #f0bb3b;
  transition: 0.2s
}

.logo_link:visited {
  color: #f0bb3b;
}

.logo_link:hover {
  text-decoration: none;
  opacity: 0.85;
}

.logo_link:active {
  color: #f0bb3b;
}

.drop_button_position {
  padding-top: 30px;
}

.btn_transparent {
    background-color: transparent;
    border: 2px solid #604a17;
    color: white;
    font-size: 15px;
}

.btn-group-vertical>.btn:hover, .btn-group>.btn:hover {
  background-color: #f0bb3b;
  border: 2px solid #604a17;
  color: black;
}

.dropdown-menu, .dropdown_background {
  background-color: #f0bb3b;
  color: white;
}

/* Drop button menu when hovered over line */
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #f6d689;
}

/* Drop button when active */
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{
  background-color: #f0bb3b;
  border: 2px solid #604a17;
}

.login_position {
  padding-top: 35px;
}

.btn_background {
  background-color: #f0bb3b;
  border: 2px solid #604a17;
}


/* Layout */
.navbar-inverse .navbar-collapse, .navbar-yellow {
  background-color: #eabc00;
  background-image: linear-gradient(to bottom, #eabc00 0, #eabc00 100%) ;
  min-height: 100px;
}

.navbar-brand, .navbar-logo {
  height: 100px;
}

.container2 {
  padding-top: 100px;
}

.background_img {
  background-image:url('../img/brew_sign.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  height: 100vh;
  /*background:url('../img/single_beer.jpg');*/

}
/*
.background_img {
  background:url('../img/single_beer.jpg');
}*/

.background_colour_overlay {
    background-color: rgba(34, 34, 34, 0.5);
    height: 100%;
    width: 100%;
}


/* Index */
.call_to_action {
  color: white;
}


/* User */
.btn-buybeer {
  height: 200px;
  width: 100%;
  border-radius: 10%;
  position: relative;
}

.form_input_num_beers {
  width: 75%;
}


/* Admin */
.inventory {
  border-radius: 10px;
}

.okay {
  background-color: green;
}

.low {
  background-color: red;
}

.inventory_title {
  font-family: Helvetica;
  font-size: 1.75em;
  font-weight: 500;
}

.inventory_value {
  font-family: Helvetica;
  font-size: 3em;
  font-weight: 900;
}








