<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
  <!-- Buy beer button & form -->
    <div class="col-md-4">
      <form>
        <button type="submit" class="btn btn-primary btn-buybeer">
          Buy beer!
        </button>
          <input type="text" name="num_beers"class="form-control form_input_num_beers" placeholder="Enter # of beers">
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <!-- User beer count to date: Needs erb code-->
    <div class="col-md-4">
      BEER COUNT
      <p><%= @user.beer_count %></p>>

    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>