<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
  <!-- Buy beer button & form -->
    <div class="col-md-4">
      <form method="POST" action="/user/buy_beer">
        <button type="submit" class="btn btn-primary btn-buybeer">
          Buy beer!
        </button>
          <input type="number" name="num_beers"class="form-control form_input_num_beers" placeholder="Enter # of beers">
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="stats_box">
        <h2 class="stats_title">BEER COUNT</h2>
        <h3 class="stats_value"><%= @user.beer_count %></h3>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>