<div class="wrapper">
  <form>
    <button type="submit" class="btn btn-primary btn-buybeer">Buy beer!
    </button>
    <input type="text" name="num_beers"class="form-control form_num_beers wrapper" placeholder="Enter # of beers">
  </form>
</div>
<div class="wrapper num_beers">
  
  <h1>1</h1> <!--Replace with ruby <%= user.beer_count %>-->
  <h1>Number of beers to date</h1>
</div>