<div class="container">
  <br /><br /><br />
  <div class="row">
    <div class="col-md-2">
    </div>
  <!-- Sign up form -->
    <div class="col-md-6">
      
      <h2 class="thirsty">Thirsty?</h2>
      <h3 class="call_to_action">Sign up. Buy beer. Earn BeerCred.</h3>
        <div class="col-xs-8">
          <form method="POST" action="/user">
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="username" id="exampleInputUsername" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Create a password">
            </div>
            <button type="submit" class="btn btn-default btn_background btn-lg"><strong>Sign Up</strong></button>
          </form>
        </div>
    </div>
    <div class="col-md-4">
      <div class="quote_text">
        <h3 class="quote_text">if !beer</h3>
        <h3 class="quote_text indent">  log_in</h3>
        <h3 class="quote_text indent">  buy_beer</h3>
        <h3 class="quote_text">elsif beer</h3>
        <h3 class="quote_text indent">  earn_cred</h3>
        <h3 class="quote_text indent">  be_happy</h3>
        <h3 class="quote_text">end</h3>
      </div>
    </div>  
  </div>
</div>