<!DOCTYPE html>
<html lang="en">
<head>
  <!--Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <!-- Custom js -->
  <script src="/javascript/application.js"></script>

  <title>BeerCred</title>
</head>

<body>
<!-- Nav bar -->
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-inverse navbar-yellow navbar-fixed-top">
        <div class="col-md-1">
        </div>
        <!-- Nav bar logo -->
        <div class="col-md-2">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Logo goes here</a>
          </div>
        </div>
        <div class="col-md-6">
        </div>

        <!-- Nav bar drop down -->
        <div class="col-md-2">
        <% if logged_in? %>
          <div class="btn-group float_right">
          <!-- #erb# username on button-->
            <button type="button" class="btn btn-default drop_button_height">#erb# username</button>
            <button type="button" class="btn btn-default dropdown-toggle drop_button_height" data-toggle="dropdown" aria-expanded="true">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Account</a></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
          </div>
        <!-- If not logged in -->
        <% else %>
          <form method="POST" action="/" class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="New password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        <% end %>

        </div>
        <div class="col-md-1">
        </div>
      </nav>


    </div>
  </div>

<!-- Background colour and texture -->
  <div class="background ">
    <div class="background_colour_overlay">
      <div class="container container2">

        <%= yield %>

      </div>
    </div>
  </div>

  <%= session.inspect %>
  <%= Transaction.last.num_purchased %>
  <%= Transaction.last.created_at %>

</body>
</html>