<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="col-md-1">
  </div>
  <!-- Nav bar logo -->
  <div class="col-md-2">
    <div class="navbar-header">
      <div class="logo_box">
        <h2 class="logo_beercred_color">BeerCred</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  </div>

  <!-- Nav bar drop down -->
  <div class="col-md-2">
  <% if logged_in? %>
    <div class="btn-group float_right">
    <!-- #erb# username on button-->
      <button type="button" class="btn btn-default drop_button_height">#erb# username</button>
      <button type="button" class="btn btn-default dropdown-toggle drop_button_height" data-toggle="dropdown" aria-expanded="true">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Account</a></li>
          <li><a href="#">Settings</a></li>
          <li class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
    </div>
  <!-- If not logged in -->
  <% else %>
    <form method="POST" action="/" class="form-inline">
      <div class="form-group">
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="New password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
  <% end %>

  </div>
  <div class="col-md-1">
  </div>
</nav>